<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="web/css/bootstrap.min.css" rel="stylesheet">
    <link href="web/css/styles.css" rel="stylesheet">
</head>
<body>
<style>
.lo-led{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: relative;
      display: inline-block;
      float: left;

  }
  .lo-humidex-led-danger{
      background-color: #AD1457;
      box-shadow: 0 0 0 5px #AD1457;
  }
  .lo-humidex-led-ok{
      background-color: #00C853;
      box-shadow: 0 0 0 5px #00C853;
  }
  .lo-led-bck{
      background-color: #424242;
      box-shadow: 0 0 0 5px #424242;
  }
  .lo-pause-led{
    top: -30px;
    left: 20px;
    width: 30px;
    height: 30px;
  }
  .lo-pause-led-on{
    background-color: 263238;
  }
</style>
<div id="losite" v-cloak>

    <div class="lo-carousel carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="lo-widgets-grid">
                    <div class="lo-widget lo-widget-middle">
                      <div class="button lo-led lo-led-bck lo-pause-led" v-on:click="pauseCarusel" v-bind:class="[caruselPaused ? 'lo-pause-led-on' : '']" >
                      </div>
                        <span class="lo-top-row">
                            <span>{{day_info.date}}</span>
                        </span>
                        <span class="lo-center-row">
                            <span>
                                {{day_info.time}}
                            </span>
                        </span>
                        <span class="lo-bottom-row">
                            <span>
                                <ul>
                                    <li v-for="msg in day_info.messages">{{msg}}</li>
                                </ul>
                            </span>
                        </span>
                    </div>
                    <div class="lo-widget lo-widget-middle">
                        <span class="lo-top-row">
                            <span>Wewnątrz</span>
                        </span>
                        <span class="lo-center-row">{{ humidex.int_temp }}&deg;C</span>
                        <span class="lo-bottom-row">
                            <span class="lo-humidity">H: {{ humidex.int_humid }}%</span>
                            <span class="lo-humidex-timestamp">{{ humidex.timestamp }}</span>
                            <div v-bind:class="[humidex.int_humid_ok ? 'lo-humidex-led-ok' : 'lo-humidex-led-danger']" class="lo-led">
                            </div>
                        </span>
                    </div>
                    <div class="lo-widget lo-widget-middle">
                        <span class="lo-top-row">
                            <span>Na zewnątrz</span>
                        </span>
                        <span class="lo-center-row">{{ humidex.out_temp }}&deg;C</span>
                        <span class="lo-bottom-row">
                            <span class="lo-humidity">H: {{ humidex.out_humid }}%</span>
                            <span class="lo-humidex-timestamp">{{ humidex.timestamp }}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="lo-widgets-grid">
                    <div class="lo-widget">
                        <span class="lo-widget-title">
                            Today
                        </span>
                        <span class="lo-widget-content-list">
                            <table class="table table-striped">
                                <tbody>
                                    <tr v-for="task in wunder_today.list">
                                        <td>
                                            {{task}}
                                        </td>
                                    </tr>
                                    <tr v-if="wunder_today.more"><td>...</td></tr>
                                </tbody>
                            </table>
                        </span>
                    </div>
                    <div class="lo-widget">
                        <span class="lo-widget-title">
                            TODO Dom
                        </span>
                        <span class="lo-widget-content-list">
                            <table class="table table-striped">
                                <tbody>
                                    <tr v-for="task in wunder_todo_dom.list">
                                        <td>
                                            {{task}}
                                        </td>
                                    </tr>
                                    <tr v-if="wunder_todo_dom.more"><td>...</td></tr>
                                </tbody>
                            </table>
                        </span>
                    </div>
                </div>

            </div>
          </div>
    </div>
</div>

</body>

<script src="web/js/jquery-3.1.1.min.js"></script>
<script src="web/js/bootstrap.min.js"></script>
<script src="web/js/vue.min.js"></script>
<script src="web/js/main.js"></script>
</html>
